@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fdfbfc;
}
img {
  margin: 0;
}
.nextui-navbar-container {
  background-color: #e6dcd5 !important;
}
.nextui-navbar-toggle-icon {
  margin-top: 12px !important;
  margin-left: 20px !important;
}

.nextui-navbar-toggle-icon span {
  background-color: #c98769 !important;
}
.nextui-navbar-toggle-icon > .line {
  width: 35px !important;
  height: 2px !important;
}

.nextui-navbar-toggle-icon::after {
  position: absolute;
  content: "Menu";
  left: 80px;
  top: 30px;
  color: #c98769;
}

.nextui-navbar-collapse-wrapper {
  background-color: #e6dad1 !important;
}
.next-dropdown {
  position: relative;
}
.nextui-dropdown-button button {
  width: 12px !important;
}
.next-dropdown.opened > .next-dropdown-menu {
  display: block;
}
.nextui-navbar-collapse-wrapper {
  height: 100vh !important;
}
.full-width {
  width: 100vw;
  margin: 0 auto;
}
.hero_img {
  width: 100vw;
  object-fit: fill;
}
.img_fill {
  width: 100vw;
  object-fit: fill;
}
.crafted_hero_img {
  width: 100vw;
  object-fit: fill;
}
.collection_imgs {
  width: 100vw;
}
.center_imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.panel {
  width: 45vw;
  height: 300px;
  margin-right: 50px;
  background-color: lightcyan;
}
.myBtn:hover {
  background-color: #04aa6d !important;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.Link_container {
  position: relative;
  width: 100%;
  max-width: 100px;
}
.Link_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.Link_container img {
  display: block;
}
.Link_container button {
  position: absolute;
  width: 250px;
  height: 54px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 9999;
  background-color: #c98769;
  color: white;
  border-radius: 4px;
}
.Link_container:hover button {
  opacity: 1;
}

.Link_container_productPge button {
  position: absolute;
  width: 220px;
  height: 52px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 9999;
  background-color: #c98769;
  color: white;
  border-radius: 4px;
}
.Link_container_productPge:hover button {
  opacity: 1;
}

.Link_collection button {
  position: absolute;
  width: 250px;
  height: 54px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 66666;
  background-color: #c98769;
  color: white;
  border-radius: 4px;
}
.dot_black {
  height: 25px;
  width: 25px;
  background-color: #5e5d5b;
  border-radius: 50%;
  display: inline-block;
}
.dot_olive {
  height: 25px;
  width: 25px;
  background-color: #787e69;
  border-radius: 50%;
  display: inline-block;
}
.dot_white {
  height: 25px;
  width: 25px;
  background-color: #f2efde;
  border-radius: 50%;
  display: inline-block;
}
.dot_maroon {
  height: 25px;
  width: 25px;
  background-color: #b89389;
  border-radius: 50%;
  display: inline-block;
}
.swiper-wrapper {
  width: 80% !important;
}
.swiper-slide {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .Link_container button {
    width: 190px;
    height: 42px;
  }
  .swiper-imgs-container {
    width: 35rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .Link_container button {
    width: 160px;
    height: 42px;
  }
}
@media screen and (max-width: 768px) {
  .Link_container button {
    position: absolute;
    width: 150px;
    height: 34px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 9999;
    background-color: #c98769;
    color: white;
    border-radius: 4px;
  }
}
@media screen and (max-width: 411px) {
  .dot_black {
    height: 20px;
    width: 20px;
    background-color: #5e5d5b;
    border-radius: 50%;
    display: inline-block;
  }
  .dot_olive {
    height: 20px;
    width: 20px;
    background-color: #787e69;
    border-radius: 50%;
    display: inline-block;
  }
  .dot_white {
    height: 20px;
    width: 20px;
    background-color: #f2efde;
    border-radius: 50%;
    display: inline-block;
  }
  .dot_maroon {
    height: 20px;
    width: 20px;
    background-color: #b89389;
    border-radius: 50%;
    display: inline-block;
  }
  .Link_container_productPge button {
    position: absolute;
    width: 100px;
    height: 28px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 9999;
    background-color: #c98769;
    color: white;
    border-radius: 4px;
  }
  .Link_container_productPge:hover button {
    opacity: 1;
  }
}
